apiVersion: v1
kind: Config
clusters:
  - name: "test11"
    crdNamespace: crd-ns
    cluster:
      server: "https://test.se/k8s/clusters/w5r"

users:
  - name: "test11"
    user:
      token: ""


contexts:
  - name: "test11"
    context:
      user: "test11"
      cluster: "test11"

current-context: "test11"